
<%-include('./partials/header.ejs')%>

<main>
    <h3>ABOUT</h3>
    <p>
        By accessing these online services, you are agreeing to be bound by these Terms and Conditions of Use, all applicable laws and 
        regulations, and agree that you are responsible for compliance with any applicable local laws.
    </p>
    <p>
        GAME Trade is a place where different people can trade their games in exchange for getting a new game from another person.
    </p>
</main>

<%-include('./partials/footer.ejs')%>