
<%-include('./partials/header.ejs')%>

<main>
			<div class="imp">
					<img src="https://www.hollywoodreporter.com/wp-content/uploads/2017/11/super-mario-game_copy_-_h_2017.jpg" alt="Mario">
					<img src="https://lumiere-a.akamaihd.net/v1/images/sm_thumbnail_mysteriorush_960x540_9baec3f8.jpeg?region=0%2C0%2C960%2C540" alt="Spider Man">
					<img src="https://images-na.ssl-images-amazon.com/images/I/81oC5pYhh2L._SL1500_.jpg" alt="Monopoly">
					<img src="https://www.wsgamecompany.com/media/catalog/product/cache/49f79b7e194e2a52dfbbad34b89ac33b/4/0/40005-1.jpg" alt="Scrabble">
			</div>
			<div class="mat">
				<h2> Welcome to Game Trading!!!</h2>
				<p> Here you can trades varieties of video games and board games.</p>
				<p> Exchange games with others and play until you get bored of them.</p>
			</div>
		</main>
		
<%-include('./partials/footer.ejs')%>